<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BoS_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <BoS_Launcher.Properties.Settings>
      <setting name="json_url" serializeAs="String">
        <value>http://online.il2forever.com/api/v1/servers.json</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LaunchHeadtracker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimerIntervall" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="IL2Path" serializeAs="String">
        <value />
      </setting>
      <setting name="CloseHeadtracker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nickname" serializeAs="String">
        <value />
      </setting>
      <setting name="IrcServer" serializeAs="String">
        <value>irc.quakenet.org</value>
      </setting>
      <setting name="IrcChannel" serializeAs="String">
        <value>#il2bos</value>
      </setting>
      <setting name="HeadTrackerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PlayNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>550</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>950</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IL2ProcessName" serializeAs="String">
        <value>Il-2.exe</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
    </BoS_Launcher.Properties.Settings>
  </userSettings>
</configuration>